<html>
<head>
  <title>Login Test</title>
</head>
<body>
  <h1>Login Test</h1>
  <%= button_to "Log In", session_path, :method => :post %></body>
  <pre><%=h session[:webauth].inspect %></pre>
</html>
